/*****************
***** COLORS ***** 
*****************/
/* HOMEPAGE */
/* MENU 1 : "LA NOTE ENCHANTEE" */
/* MENU 2 : "LE CHIC A LA FRANCAISE" */
/* MENU 3 : "LE DELICE DES PAPILLES" */
/* MENU 4 : "LA PALETTE DU GOUT" */
/* PAGE MENTIONS LEGALES */
/*******************
***** FONT SIZE ***** 
*******************/
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); }
  15%,
  45%,
  75% {
    transform: translateX(-0.7rem);
    -webkit-transform: translateX(-0.7rem);
    -moz-transform: translateX(-0.7rem);
    -ms-transform: translateX(-0.7rem);
    -o-transform: translateX(-0.7rem); }
  30%,
  60%,
  90% {
    transform: translateX(0.7rem);
    -webkit-transform: translateX(0.7rem);
    -moz-transform: translateX(0.7rem);
    -ms-transform: translateX(0.7rem);
    -o-transform: translateX(0.7rem); } }

@keyframes loading {
  from,
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); }
  40% {
    transform: translateY(-1.5rem);
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem); }
  65% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem); }
  90% {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem); } }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

/* RESET CSS */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }

/* MARGINS */
.u-margin-bottom-big {
  margin-bottom: 7rem !important; }

.u-not-margin-right {
  margin-right: 0 !important; }

.legal {
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem -.3rem #000;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem; }
  .legal__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .legal__paragraph {
    font-size: 1.6rem;
    padding: 0 4rem;
    text-align: justify; }
    .legal__paragraph a {
      color: #000; }

.content__menus--1 {
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: 'Caveat', cursive;
  padding: 5rem; }
  .content__menus--1 .fa-music {
    background: linear-gradient(to right, #f15c61, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .content__menus--1 .content__menus-title > .fa-music {
    font-size: 7rem; }
  .content__menus--1 h3 {
    font-size: 5rem;
    margin-bottom: 2.5rem; }
  .content__menus--1 h3,
  .content__menus--1 h5 {
    font-family: 'Devonshire', cursive; }
  .content__menus--1 h4 {
    font-size: 3rem; }
  .content__menus--1 h4::before,
  .content__menus--1 h4::after,
  .content__menus--1 strong:hover:after {
    background: #3d1319 !important; }
  .content__menus--1 h5 {
    font-size: 3rem; }
  .content__menus--1 ul {
    font-size: 2.2rem;
    margin-bottom: 1rem; }
  .content__menus--1 .menu1__footer {
    align-items: center;
    display: flex;
    justify-content: center; }
    .content__menus--1 .menu1__footer .fa-music {
      font-size: 3rem;
      margin-right: .7rem; }

.content__menus--2 {
  background-color: #fff5fe;
  font-family: 'Gelasio', serif;
  padding: 7rem 4rem 12rem 4rem; }
  .content__menus--2 h3 {
    background: linear-gradient(to right, #db8528, #8f5bfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One', cursive;
    font-size: 3.5rem;
    margin-bottom: 5rem; }
  .content__menus--2 h4 {
    font-size: 2rem;
    font-weight: 500; }
  .content__menus--2 ul {
    font-size: 1.6rem;
    margin-bottom: 1.7rem; }
  .content__menus--2 section:nth-of-type(1) {
    color: #c67412; }
    .content__menus--2 section:nth-of-type(1) h4::before,
    .content__menus--2 section:nth-of-type(1) h4::after,
    .content__menus--2 section:nth-of-type(1) strong:hover:after {
      background: #c67412; }
  .content__menus--2 section:nth-of-type(2) {
    color: #a56799; }
    .content__menus--2 section:nth-of-type(2) h4::before,
    .content__menus--2 section:nth-of-type(2) h4::after,
    .content__menus--2 section:nth-of-type(2) strong:hover:after {
      background: #a56799; }
  .content__menus--2 section:nth-of-type(3) {
    color: #6e4ccc; }
    .content__menus--2 section:nth-of-type(3) h4::before,
    .content__menus--2 section:nth-of-type(3) h4::after,
    .content__menus--2 section:nth-of-type(3) strong:hover:after {
      background: #6e4ccc; }
  .content__menus--2 .entrees__content,
  .content__menus--2 .plats__content,
  .content__menus--2 .desserts__content {
    padding: 0 5rem; }

.content__menus--3 {
  background-color: #edefef;
  font-family: 'Courgette', cursive;
  padding: 7rem 4rem 12rem 4rem; }
  .content__menus--3 h3 {
    background: linear-gradient(to right, #0228dd, #0889fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    margin-bottom: 5rem; }
  .content__menus--3 h4 {
    font-size: 2rem;
    margin-bottom: 3rem; }
  .content__menus--3 ul {
    font-size: 1.6rem;
    margin-bottom: 1.7rem; }
  .content__menus--3 section:nth-of-type(1) h4::before,
  .content__menus--3 section:nth-of-type(1) h4::after,
  .content__menus--3 section:nth-of-type(1) span:hover:after {
    background: #0228dd; }
  .content__menus--3 section:nth-of-type(2) h4::before,
  .content__menus--3 section:nth-of-type(2) h4::after,
  .content__menus--3 section:nth-of-type(2) span:hover:after {
    background: #0670f3; }
  .content__menus--3 section:nth-of-type(3) h4::before,
  .content__menus--3 section:nth-of-type(3) h4::after,
  .content__menus--3 section:nth-of-type(3) span:hover:after {
    background: #229df9; }
  .content__menus--3 .entrees__content,
  .content__menus--3 .plats__content,
  .content__menus--3 .desserts__content {
    padding: 0 5rem; }

.content__menus--4 {
  font-family: 'Courgette', cursive;
  padding: 7rem 4rem 12rem 4rem; }
  .content__menus--4 h3 {
    background: linear-gradient(to right, #45993e, #beff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-size: 7rem;
    margin-bottom: 5rem; }
  .content__menus--4 h4 {
    font-size: 2rem;
    margin-bottom: 3rem; }
  .content__menus--4 ul {
    font-size: 1.6rem;
    margin-bottom: 1.7rem; }
  .content__menus--4 section h4::before {
    background: linear-gradient(to right, #45993e, #beff7f); }
  .content__menus--4 section h4::after {
    background: linear-gradient(to right, #beff7f, #45993e); }
  .content__menus--4 section span:hover:after {
    background: #beff7f; }
  .content__menus--4 .entrees__content,
  .content__menus--4 .plats__content,
  .content__menus--4 .desserts__content {
    padding: 0 5rem; }

.section-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .section-menus .menus-item {
    box-shadow: 0 0 1rem -.5rem #000;
    overflow: hidden;
    margin-left: 2.5rem;
    margin-right: 2.5rem; }
    .section-menus .menus-item a {
      cursor: pointer;
      display: flex; }
      .section-menus .menus-item a .menus-item-img {
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s; }
      .section-menus .menus-item a:hover .menus-item-img {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        opacity: .7; }

.section-soon {
  background-color: #579c87;
  display: flex;
  border-radius: 1.5rem;
  padding: 1.5rem 5.5rem; }
  .section-soon h2,
  .section-soon p {
    color: #fdcb46;
    font-size: 3.5rem; }
  .section-soon p {
    display: inline-block; }
  .section-soon .soon__next {
    align-items: center;
    display: flex;
    max-height: 4.5rem; }
  .section-soon .soon__next > p {
    margin-right: .5rem; }
  .section-soon .soon {
    font-size: 7rem;
    margin-bottom: 2.2rem; }
  .section-soon .soon--1 {
    animation: loading 1.5s ease-in-out infinite;
    -webkit-animation: loading 1.5s ease-in-out infinite; }
  .section-soon .soon--2 {
    animation: loading 1.5s 1.6s ease-in-out infinite;
    -webkit-animation: loading 1.5s 1.6s ease-in-out infinite; }
  .section-soon .soon--3 {
    animation: loading 1.5s 1.7s ease-in-out infinite;
    -webkit-animation: loading 1.5s 1.7s ease-in-out infinite; }

.footer {
  align-items: center;
  background-color: #579c87;
  bottom: 0;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: fixed;
  width: 100%; }
  .footer__link {
    color: #fdcb46;
    font-size: 1.8rem;
    text-decoration: none; }
    .footer__link:hover {
      animation: shake .7s ease-in-out;
      -webkit-animation: shake .7s ease-in-out; }

.heading {
  align-items: center;
  background-color: #579c87;
  display: flex;
  height: 16vh;
  justify-content: center; }

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
  margin: 0 auto;
  max-width: 90rem; }

.mentions {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  padding: 4.5rem 30rem 9rem 30rem; }

main {
  display: flex;
  justify-content: center; }
  main .container__menus {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6rem 0 12rem 0;
    max-width: 120rem; }
    main .container__menus .heading__menus {
      font-size: 5rem;
      font-weight: 500;
      margin-bottom: 3.5rem; }
    main .container__menus .content__menus {
      box-shadow: 0 0 2rem -1rem #000;
      display: flex;
      flex-direction: column; }
      main .container__menus .content__menus-title {
        align-items: center;
        display: flex;
        flex-direction: column; }
      main .container__menus .content__menus section:not(:last-child) {
        margin-bottom: 4rem; }
      main .container__menus .content__menus table {
        display: flex;
        flex-direction: column; }
      main .container__menus .content__menus ul {
        display: flex;
        justify-content: space-between; }
        main .container__menus .content__menus ul .price {
          padding-left: 4rem;
          text-align: end; }
  main h4 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem; }
    main h4::before, main h4::after {
      content: "";
      flex-grow: 1;
      height: .4rem; }
    main h4::before {
      margin-right: 3rem; }
    main h4::after {
      margin-left: 3rem; }
    main h4 strong::after,
    main h4 span::after {
      content: "";
      display: block;
      height: .3rem;
      margin-top: .3rem;
      transition: width .5s;
      -webkit-transition: width .5s;
      -moz-transition: width .5s;
      -ms-transition: width .5s;
      -o-transition: width .5s;
      width: 0; }
    main h4 strong:hover:after,
    main h4 span:hover:after {
      width: 100%; }
