/*****************
***** COLORS ***** 
*****************/
/* HOMEPAGE */
/* MENU 1 : "LA NOTE ENCHANTEE" */
/* MENU 2 : "LE CHIC A LA FRANCAISE" */
/* MENU 3 : "LE DELICE DES PAPILLES" */
/* MENU 4 : "LA PALETTE DU GOUT" */
/*******************
***** FONT SIZE ***** 
*******************/
html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

/* RESET CSS */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }

/* MARGINS */
.u-margin-bottom-big {
  margin-bottom: 7rem; }

.section-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%; }
  .section-menus .menus-item {
    box-shadow: 0 0 1rem -.5rem #000;
    overflow: hidden; }
    .section-menus .menus-item a {
      cursor: pointer;
      display: flex; }

.section-soon {
  background-color: #579c87;
  border-radius: 1.5rem;
  padding: 1.5rem 5.5rem; }
  .section-soon p {
    color: #fdcb46;
    font-size: 3.5rem; }

.footer {
  align-items: center;
  background-color: #579c87;
  bottom: 0;
  display: flex;
  height: 11vh;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: fixed;
  width: 100%; }
  .footer__link {
    color: #fdcb46;
    font-size: 1.8rem;
    text-decoration: none; }

.heading {
  align-items: center;
  background-color: #579c87;
  display: flex;
  height: 22vh;
  justify-content: center; }

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 7rem 15rem; }
