/*****************
***** COLORS ***** 
*****************/

/* HOMEPAGE */
$color-primary: #579c87;
$color-secondary-text: #fdcb46;

/* MENU 1 : "LA NOTE ENCHANTEE" */
$color-menu1-primary: #fcdfdb;

$color-menu1-secondary-dark: #f15c61;
$color-menu1-secondary-light: #f6916a;

$color-menu1-primary-font: #3d1319;

/* MENU 2 : "LE CHIC A LA FRANCAISE" */
$color-menu2-primary: #fff5fe;

$color-menu2-secondary-dark: #8f5bfe;
$color-menu2-secondary-light: #db8528;

$color-menu2-primary-font: #c67412;
$color-menu2-secondary-font: #a56799;
$color-menu2-tertiary-font: #6e4ccc;

/* MENU 3 : "LE DELICE DES PAPILLES" */
$color-menu3-primary: #edefef;

$color-menu3-secondary-dark: #0228dd;
$color-menu3-secondary-light: #0889fb;

$color-menu3-primary-font: #0228dd;
$color-menu3-secondary-font: #0670f3;
$color-menu3-tertiary-font: #229df9;

/* MENU 4 : "LA PALETTE DU GOUT" */
$color-menu4-primary-dark: #45993e;
$color-menu4-primary-light: #beff7f;

/* PAGE MENTIONS LEGALES */
$color-legal-background: #f5f5f5;
$color-legal-text: #000;

/* H2 COLOR MENUS PAGES */
$color-phone-grey-light: #ccc;

/*******************
***** FONT SIZE ***** 
*******************/
$default-font-size: 1.6rem;