.footer {
    align-items: center;
    background-color: $color-primary;
    bottom: 0;
    display: flex;
    height: 9vh;
    justify-content: space-between;
    padding: 0 2.5rem;
    position: fixed;
    width: 100%;

    @include responsive(smartphone) {
        padding: 0 1.5em;
    }

    &__link {
        color: $color-secondary-text;
        font-size: 1.8rem;
        text-decoration: none;

        &:hover {
            animation: shake .7s ease-in-out;
            -webkit-animation: shake .7s ease-in-out;
}
    }
}