.content__menus--3 {
    background-color: $color-menu3-primary;
    font-family: 'Courgette', cursive;
    font-weight: light;
    padding: 7rem 4rem 12rem 4rem;

    & h3 {
        background: linear-gradient(to right, $color-menu3-secondary-dark, $color-menu3-secondary-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Dancing Script', cursive;
        font-size: 6rem;
        margin-bottom: 5rem;
    }

    & h4 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    & ul  {
        font-size: $default-font-size;
        margin-bottom: 1.7rem;
    }

    section:nth-of-type(1) {

        & h4::before, 
        & h4::after, 
        & span:hover:after {
            background: $color-menu3-primary-font;
        }
    }

    section:nth-of-type(2) {

        & h4::before, 
        & h4::after, 
        & span:hover:after {
            background: $color-menu3-secondary-font;
        }
    }

    section:nth-of-type(3) {

        & h4::before, 
        & h4::after, 
        & span:hover:after {
            background: $color-menu3-tertiary-font;
        }
    }

    .entrees__content, 
    .plats__content, 
    .desserts__content {
        padding: 0 5rem;
    }
}