.section-soon {
    background-color: $color-primary;
    display: flex;
    border-radius: 1.5rem;
    padding: 1.5rem 5.5rem;
    
    p {
        color: $color-secondary-text;
        display: inline-block;
        font-size: 3.5rem;
    }

    .soon__next {
        align-items: center;
        display: flex;
        max-height: 4.5rem;
    }

    .soon__next > p {
        margin-right: .5rem;
    }

    .soon {
        font-size: 7rem;
        margin-bottom: 2.2rem;
    }

    .soon--1 {
        animation: loading 1.5s ease-in-out infinite;
        -webkit-animation: loading 1.5s ease-in-out infinite;
}

    .soon--2 {
        animation: loading 1.5s 1.6s ease-in-out infinite;
        -webkit-animation: loading 1.5s 1.6s ease-in-out infinite;
}

    .soon--3 {
        animation: loading 1.5s 1.7s ease-in-out infinite;
        -webkit-animation: loading 1.5s 1.7s ease-in-out infinite;
}
}