.mentions {
    background-color: $color-legal-background;
    display: flex;
    justify-content: center;
    padding: 5rem 0 10rem 0;

    @include responsive(smartphone) {
        padding: 0 0 6em 0;
    }
}